# =========================================
# NODE MODULES (front + back)
# =========================================
node_modules/
*/node_modules/

# =========================================
# BUILD / DIST (React + Node/TS)
# =========================================
frontend/build/
frontend/dist/

backend/dist/
backend/build/

# Caso você use tsc na raiz
dist/
build/

# =========================================
# TYPESCRIPT
# =========================================
*.tsbuildinfo

# =========================================
# DOTENV (front + back)
# =========================================
.env
.env.*
frontend/.env
backend/.env

# =========================================
# LOGS
# =========================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# =========================================
# OS / SISTEMA OPERACIONAL
# =========================================
.DS_Store
Thumbs.db

# =========================================
# EDITOR / IDE
# =========================================
.vscode/
.idea/
*.swp
*.swo

# =========================================
# TESTES
# =========================================
coverage/
*.lcov

# =========================================
# MISC
# =========================================
*.cache

